/*universel zero setting*/
body{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
}
.grid1{
    background-color: grey;
}

#navbarNavDropdown{
  margin-left: 1300px;
}
/* #butt{
  border-radius: 60px;
  border-width: 5px;
  border-color: white;
} */
/*button glowing effect*/
button{
  height: 60px;
  width: 115px;
  border: 5px solid black;
  border-radius: 30px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 17px;
  transition: all .5s ease;
}
button:hover {
  letter-spacing: 3px;
  background-color: red;
  color: white;
  box-shadow: red 0px 7px
  29px 0px;
  font-size: 19px;
}

/*888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/

.gallery{
  padding: 2em;
  min-height: 100vh;
  min-width: 100vw; 
}
.buttons{
  padding: 2em 0 6em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.buttons button{
  margin: 1em;
  padding: 0.7em 1.5em;
  font-size: 1.1em;
  border: none;
  background: #111;
  color: #fff;
  border: 2px solid #111;
  border-radius: 0.2em;
  cursor: pointer;
  transition: 0.3s;

} 

.buttons button:hover,
.buttons .btn-clicked{
  background: #fff;
  color: #111;

}
.images{
  
  max-width: 1360px;
  margin: 0em auto; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;

}
.images img {
  width: 25em;
  margin: 1em;
  border-radius: 0.2em;
  transition: 0.6s;
}
/*Classes for Javascript*/
.images .img-expand{
  width: 25em;
  margin: 1em;
}

.images .img-shrink{
  width: 0em;
  margin: -1em;
}

@media screen and
(max-width: 1439px) {
  .images{
      max-width: 896px;
  }
}

@media screen and 
(max-width:986px){
  .images{
      align-items: center;
      flex-direction: column;

  }
  .images img {
      margin-right: 0 !important;
      margin-left: 0 !important;
  }
}

@media screen and 
(max-width: 600px) {
  .buttons button {
      width: 100%;
      display: block;
  }
  .images
  .img-expand,
  .images img {
      width: 100%;
  }
}



/*888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
#head{
    font-size:50px;
    
}
#para{
    font-size:40px;
}
#car{
    height: 500px;
    width: 700px;
}
#button{
    height: 70px;
    width: 120px;
    margin-left: 30%;
    border-radius: 40px;
    border-color: black;
    color: white;
    border-width: 5px;
}
#grid2{
    background-color:white;
}

#engine{
    height: 400px;
    width:400px ;
    margin-top: 20px;
    margin-right: 100px;
}

#head2{
    font-size: 40px;
    margin-left: -400px;
}
#para2{

    margin-left: -400px ;
}
#grid3{
    margin-left: 30px;
    margin-top:-200px;
}
/*section2 finish*/
.portpolio{
    padding-top: 30px;
    margin-left: 820px;
}
.gallery{
    background-color: gray;
}
/* #cnav{
    background-color: gray;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: gray;
    padding:30px;
  }
  .grid-item {
    background-color:gray;
    padding: 10px;
    font-size: 60px;
    text-align:center;
  } */
/*====================================================*/

  #car{
    border-radius: 20px;
  }
.po{
    background-color: white;
}

.p{
    margin-left: -360px;
    background-color: white;
  }

.grid-containe {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    background-color: black;
    padding: 50px;
    margin-right: -370px;
  }
  
  .grid-containe > div {
    background-color:black;
    text-align: center;
    font-size: 30px;
    
  }
  #radio{
    font-size: 50px;
    padding-left: 550px;
    color: red;
  }

  /*-----------------------------------*/
  .grid-container4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color:lightgrey;
    padding: -10px;
    margin-right:-370px;
  }
  .grid-item4 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    font-size: 20px;
    text-align: center;
  }
  #vishnu{
    margin-left:1300px;
  }
  
  .footer{
    margin-right:-370px;
  }
  

  
  