#Get{border-radius: 18px;}
#Web{color:red; margin-right: 850px;}
#Home{color:red;}

.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  gap: 10px;
  background-color:gray;
  padding: 100px;
}
.img{
    margin-left: 20px;
   
}

.phara{
    text-align: center;
    margin-top: 25px;
    
}
.para2{
    text-align: justify;
    width: 30rem;
}
.list{
    text-align:left;
}

.grid-container4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color:white;
    padding: 10px;
  }
  .grid-item4 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  #vishnu{
    margin-left:1300px;
  }
  /********************Image slide show**************************************/
 
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    width: 1000px;
    padding: 10px;
    margin-top: 11px;
    border: 10px solid black;
    background: black;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
/********************imageslideshow finish*****************************/
#image1{
  height: 130px;
  width: 480px;
  border: 5px solid black;
}
